<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mybatis.mapper.boardMapper">

	<!-- 중첩 객체 필드(UserDTO user) 매핑을 위한 resultMap 정의 하기-->
	<resultMap type="BoardDTO" id="boardResultMap">
		<!-- 단순 필드 -->
		<id property="bid" column="bid"/>
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="createdAt" column="created_at" />
		<result property="modifiedAt" column="modified_at" />
		<!-- 중첩 객체 필드 -->
		<association property="user" javaType="UserDTO">
			<id property="uid" column="uid"/>
			<result property="email" column="email"/>
			<result property="nickname" column="nickname"/>
			<!-- password는 쿼리문에서 조회하지 않으므로 생략 가능 -->
		</association> 
	
	</resultMap>

<!-- 조회 (목록) -->
<select id="getBoards" resultMap="boardResultMap">
	SELECT b.bid, u.uid, u.email, u.nickname, b.title, b.content, b.created_at, b.modified_at
	  FROM tbl_user u INNER JOIN tbl_board b
	    ON u.uid = b.uid
	    ORDER BY bid DESC
	  LIMIT 0, 10
</select>
<!-- 조회 (개수) -->
<select id="getBoardCount" resultType="java.lang.Integer">
  SELECT COUNT(*)
    FROM tbl_board
</select>
<!-- 조회 (단일) -->
<select id="getBoardById" parameterType="java.lang.Integer" resultMap="boardResultMap">  <!-- 파라미터 타입은 생략 가능(#을 사용) -->
	SELECT b.bid, u.uid, u.email, u.nickname, b.title, b.content, b.created_at, b.modified_at
	  FROM tbl_user u INNER JOIN tbl_board b
	    ON u.uid = b.uid
	WHERE bid = #{bid}
</select>

<!-- 등록 -->
<insert id="insertBoard" parameterType="BoardDTO">
	INSERT INTO tbl_board (
	    uid
	  , title
      , content
	) VALUES (
	    #{user.uid}
	  , #{title}
	  , #{content}
	)
</insert>
<!-- 수정 -->
<update id="updateBoard" parameterType="BoardDTO">
	UPDATE tbl_board
	  SET title = #{title}
	    , content = #{content}
	  WHERE bid = #{bid}
</update>
<!-- 삭제 (단일) -->
<delete id="deleteBoardById" parameterType="java.lang.Integer">
	DELETE
	  FROM tbl_board
	 WHERE bid = #{bid}
</delete>


</mapper>
