<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	
	<!-- 마이바티스 환경 설정 (snake_case To camelCase)-->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<!-- 클래스에 별명 등록 (DTO) -->
	<typeAliases>
		<typeAlias type="org.shining.pagination.model.dto.UserDTO" alias="UserDTO" />
		<typeAlias type="org.shining.pagination.model.dto.PageDTO" alias="PageDTO" />
	</typeAliases>

</configuration>
